.app__content {
  display: flex;
}

.app * {
  font-family: Arial;
}

.app ul {
  list-style: none;
}

.list-heading,
.list {
  color: #3b424f;
  font-size: 16px;
  margin: 0;
}

.list {
  padding: 10px 0;
}

.list__item {
  cursor: pointer;
  margin: 15px 0;
}

.list__item--active {
  color: #3828ed;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .app__content {
    flex-direction: column;
  }

  .list-wrapper {
    margin-right: 30px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .list-wrapper {
    margin-bottom: 20px;
  }
}
