.sidebar {
  background-color: #eaf1fc;
  padding: 20px;
  min-width: 220px;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    min-width: 220px;
  }
}